body {
  margin: 0;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}
.fullpage {
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}
.navbar {
  overflow: auto;
}
.navbar img {
  padding: 2% 10%;
  float: left;
  display: inline;
}

.navbar button {
  display: inline;
  float: right;
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: 30px;
}

#sidebtn {
  background: red;
  padding: 8px 14px;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.main {
  color: white;
  text-align: center;
  margin-top: 15%;
}
.main h1 {
  font-size: 58px;
  margin: 0;
}
.main p {
  margin: 13px;
  font-weight: 400;
}
#p1 {
  font-size: 28px;
}

#p2 {
  font-size: 24px;
}
