* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  background-color: #0f1111;
}
.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #fff;
  max-width: 1280px;
  margin: 0 auto;
}
.nav-logo img {
  margin-top: 10px;
  width: 130px;
}
.Deliver {
  font-size: smaller;
  color: rgb(127, 127, 128);
}

.map-icon {
  display: flex;
  flex-direction: row;
}

.map-icon span {
  color: #fff;
}
.map-icon p {
  font-size: medium;
}

.search {
  display: flex;
  justify-content: space-evenly;
  max-width: 620px;
  width: 100%;
  height: 37px;
  border-radius: 4px;
}

.select-search {
  background: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  max-width: 600px;
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  padding-left: 10px;
}

.search-icon {
  max-width: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #febd68;
  color: #000;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.account,
.order {
  display: flex;
  flex-direction: column;
}

.hello {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.font-large {
  font-size: 18px;
  font-weight: bold;
  margin-top: 3px;
}

.cart {
  max-width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

#cart-logo {
  font-size: 44px;
}

.cart p {
  margin-top: 14px;
}

.banner {
  padding: 10px 20px;
  background: #263544;
  color: #fff;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-around;
}

.menu-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  gap: 25px;
}

.menu-options:hover {
  cursor: pointer;
  /* color: #e01313; */
}

.menu-options p:hover {
  color: #995e27;
}

.electronics {
  margin-left: 4rem;
  font-size: medium;
}

.home {
  height: 420px;
  background-image: url("https://priyanshu-240499.github.io/Assignments-CSS/Weekly%20Test%20for%20CSS%20(Week-3)/images/hero-img.jpg");
  background-position: center;
  background-size: cover;
}

.image-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
  padding: 50px 0;
}

.card-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  max-width: 1280px;
  width: 100%;
  overflow: hidden;
}

.image {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  cursor: pointer;
  white-space: nowrap;
  transform: scale(1);
  transition:all 0.7s ease-in-out;
}
.image:hover{
  scale: 1.1;
  
}

.image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin-bottom: 10px;
}
.image h3{
  margin-bottom: 10px;
  font-size: 22px;
}

.image a{
  text-decoration: none;
}

.image:hover a{
  cursor: pointer;
  text-decoration: underline;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #263544;
  padding: 15px;
}

.text a{
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.footer{
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  height: 45vh;
  width: 100%;
  color: #f3f3f3;
  background: #1a242d;
}

.footer-options{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.footer-options h4{
  margin-bottom: 1rem;
  font-size: small;
}

.footer-options p{
  font-size: 0.75rem;
  font-family: sans-serif;
  color: rgb(187, 189, 191);
  margin-bottom: 4px;
}
.footer-options p:hover{
  cursor: pointer;
  text-decoration: underline;
}



